<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.resume.AwardDao">

	<!-- 로그인 유저의 수상내역 전체 조회 -->
    <select id="selectAllAwards" resultType="Award">
        SELECT *
        FROM award
        WHERE resume_id = #{resumeId};
    </select>

    <!-- 수상내역 저장 -->
    <insert id="insertAward" parameterType="Award" keyProperty="awardId" useGeneratedKeys="true">
        INSERT INTO award (resume_id,award_name, award_organization, award_date, description)
        VALUES (#{resumeId}, #{awardName}, #{awardOrganization}, #{awardDate}, #{description});
    </insert>

    <!-- 수상내역 수정 -->
    <update id="updateAward" parameterType="Award">
        UPDATE award
        SET award_name = #{awardName},
            award_organization = #{awardOrganization},
            award_date = #{awardDate},
            description = #{description}
        WHERE award_id = #{awardId};
    </update>

    <!-- 수상내역 삭제 -->
    <delete id="deleteAward" parameterType="int">
        DELETE FROM award
        WHERE award_id = #{awardId};
    </delete>
</mapper>
