<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.resume.AwardDao">

	<!-- 수상내역 조회 (resume기반) -->
    <select id="selectAllAwards" resultType="Award">
        SELECT *
        FROM award
        WHERE resume_id = #{resumeId};
    </select>

    <!-- 수상내역 저장 -->
    <insert id="insertAward" parameterType="Award" keyProperty="awardId" useGeneratedKeys="true">
        INSERT INTO award (resume_id,award_name, award_organization, award_date, description)
        VALUES (#{resumeId}, #{awardName}, #{awardOrganization}, #{awardDate}, #{description});
    </insert>
</mapper>
