<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.resume.CertificationDao">

	<!-- 자격증 전체 조회 -->
    <select id="selectAllCertifications" resultType="Certification">
        SELECT *
        FROM certification;
    </select>

    <!-- 자격증 저장 -->
    <insert id="insertCertification" parameterType="Certification" keyProperty="certId" useGeneratedKeys="true">
        INSERT INTO certification (resume_id, cert_name, publisher, obtained_at, cert_code)
        VALUES (#{resumeId}, #{certName}, #{publisher}, #{obtainedAt}, #{certCode});
    </insert>

    <!-- 자격증 수정 -->
    <update id="updateCertification" parameterType="Certification">
        UPDATE certification
        SET cert_name = #{certName},
        	publisher = #{publisher},
        	obtained_at = #{obtainedAt},
        	cert_code = #{certCode}
        WHERE cert_id = #{certId};
    </update>

    <!-- 자격증 삭제 -->
    <delete id="deleteCertification" parameterType="int">
        DELETE FROM certification
        WHERE cert_id = #{certId};
    </delete>
</mapper>
