<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.resume.PatentDao">

	<!-- 로그인 유저의 특허 전체 조회 -->
    <select id="selectAllPatents" resultType="Patent">
        SELECT *
        FROM patent
        WHERE resume_id = #{resumeId};
    </select>

    <!-- 특허 저장 -->
    <insert id="insertPatent" parameterType="Patent" keyProperty="patentId" useGeneratedKeys="true">
        INSERT INTO patent (resume_id, patent_title, inventor, patent_code, description)
        VALUES (#{resumeId}, #{patentTitle}, #{inventor}, #{patentCode}, #{description});
    </insert>

    <!-- 특허 수정 -->
    <update id="updatePatent" parameterType="Patent">
        UPDATE patent
        SET patent_title = #{patentTitle},
            inventor = #{inventor},
            patent_code = #{patentCode},
            description = #{description}
        WHERE patent_id = #{patentId};
    </update>

    <!-- 특허 삭제 -->
    <delete id="deletePatent" parameterType="int">
        DELETE FROM patent
        WHERE patent_id = #{patentId};
    </delete>
</mapper>
