<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.resume.PersonalInfoDao">

	<!-- 로그인 유저의 인적사항 전체 조회 -->
    <select id="selectPersonalByResume" resultType="PersonalInfo">
        SELECT *
        FROM personal_info
        WHERE resume_id = #{resumeId}
        LIMIT 1;
    </select>

    <!-- 특정 인적사항 조회 -->
    <select id="selectOnePersonal" parameterType="int" resultType="PersonalInfo">
        SELECT *
        FROM personal_info
        WHERE info_id = #{infoId};
    </select>

    <!-- 인적사항 저장 - 파일별도 -->
    <insert id="insertPersonal" parameterType="PersonalInfo" keyProperty="infoId" useGeneratedKeys="true">
        INSERT INTO personal_info (resume_id, username, birth_date, gender, email, home_phone, mobile_phone, address, address_detail, postal_code, degree, hobby, specialty)
        VALUES (#{resumeId}, #{username}, #{birthDate}, #{gender}, #{email}, #{homePhone}, #{mobilePhone}, #{address}, #{addressDetail}, #{postalCode}, #{degree},  #{hobby}, #{specialty});
    </insert>

	<!-- 인적사항 수정 - 파일 -->
    <update id="updatePersonalFile" parameterType="PersonalInfo">
        UPDATE personal_info
        SET profile_img_path = #{profileImgPath},
        	profile_img_name = #{profileImgName}
        WHERE info_id = #{infoId};
    </update>

    <!-- 인적사항 수정 -->
    <update id="updatePersonal" parameterType="PersonalInfo">
        UPDATE personal_info
        SET resume_id = #{resumeId},
            username = #{username},
            birth_date = #{birthDate},
            gender = #{gender},
            email = #{email},
            home_phone = #{homePhone},
            mobile_phone = #{mobilePhone},
            address = #{address},
            address_detail = #{addressDetail},
            postal_code = #{postalCode},
            degree = #{degree},
            profile_img_path = #{profileImgPath},
            profile_img_name = #{profileImgName},
            hobby = #{hobby},
            specialty = #{specialty}
        WHERE info_id = #{infoId};
    </update>

    <!-- 인적사항 삭제 -->
    <delete id="deletePersonal" parameterType="int">
        DELETE FROM personal_info
        WHERE info_id = #{infoId};
    </delete>
</mapper>
