<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.resume.WorkExpDao">

	<!-- 경력 조회 (resume기반) -->
    <select id="selectAllWorkExp" resultType="WorkExp">
        SELECT *
        FROM work_exp
        WHERE resume_id = #{resumeId};
    </select>

    <!-- 경력 저장 - 파일별도 -->
    <insert id="insertWorkExp" parameterType="WorkExp" keyProperty="expId" useGeneratedKeys="true">
        INSERT INTO work_exp (resume_id, company, department, start_date, end_date, is_current, position, salary, description)
        VALUES (#{resumeId}, #{company}, #{department}, #{startDate}, #{endDate}, #{isCurrent}, #{position}, #{salary}, #{description});
    </insert>
</mapper>
