<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.resume.WorkExpDao">

	<!-- 로그인 유저의 경력 전체 조회 -->
    <select id="selectAllWorkExp" resultType="WorkExp">
        SELECT *
        FROM work_exp
        WHERE resume_id = #{resumeId};
    </select>

    <!-- 경력 저장 - 파일별도 -->
    <insert id="insertWorkExp" parameterType="WorkExp" keyProperty="expId" useGeneratedKeys="true">
        INSERT INTO work_exp (resume_id, company, department, start_date, end_date, is_current, position, salary, description)
        VALUES (#{resumeId}, #{company}, #{department}, #{startDate}, #{endDate}, #{isCurrent}, #{position}, #{salary}, #{description});
    </insert>

    <!-- 경력 수정 -->
    <update id="updateWorkExp" parameterType="WorkExp">
        UPDATE work_exp
        SET company = #{company},
            department = #{department},
            start_date = #{startDate},
            end_date = #{endDate},
            is_current = #{isCurrent},
            position = #{position},
            salary = #{salary},
            description = #{description},
            exp_file_name = #{expFileName},
            exp_file_path = #{expFilePath}
        WHERE exp_id = #{expId};
    </update>

    <!-- 경력 삭제 -->
    <delete id="deleteWorkExp" parameterType="int">
        DELETE FROM work_exp
        WHERE exp_id = #{expId};
    </delete>
</mapper>
