<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.piccup.model.dao.coverletter.ApplyDao">
  <resultMap id="applyAllSetResultMap" type="Apply">
  	<id property="applyId" column="apply_id"/>
  	<result property="userId" column="user_id"/>
    <result property="companyName" column="company_name"/>
    <result property="companySize" column="company_size"/>
    <result property="job" column="job"/>
    <result property="industry" column="industry"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>

    <collection property="coverLetters" ofType="CoverLetter" notNullColumn="cover_id">
      <id property="coverId" column="cover_id"/>
      <result property="applyId" column="apply_id"/>
      <result property="userId" column="user_id"/>
      <result property="category" column="category"/>
      <result property="coverTitle" column="cover_title"/>
      <result property="coverContent" column="cover_content"/>
    </collection>
    <collection property="schedule" ofType="ApplySchedule" notNullColumn="schedule_id">
      <id property="scheduleId" column="schedule_id"/>
      <result property="applyId" column="apply_id"/>
      <result property="startDate" column="start_date"/>
      <result property="endDate" column="end_date"/>
    </collection>
    <collection property="status" ofType="ApplyStatus" notNullColumn="status_id">
      <id property="statusId" column="status_id"/>
      <result property="applyId" column="apply_id"/>
      <result property="currentStatus" column="current_status"/>
      <result property="is_progressing" column="isProgressing"/>
    </collection>
    <collection property="feedback" ofType="ApplyFeedback" notNullColumn="feedback_id">
      <id property="feedbackId" column="feedback_id"/>
      <result property="applyId" column="apply_id"/>
      <result property="userId" column="user_id"/>
      <result property="feedbackStatus" column="feedback_status"/>
      <result property="content" column="content"/>
    </collection>
  </resultMap>
  
  <select id="selectAll" resultMap="applyAllSetResultMap" parameterType="int">
    select a.*, c.*, sc.*, st.*, fb.* from apply a
    left join cover_letter c on a.apply_id = c.apply_id
    left join apply_schedule sc on a.apply_id = sc.apply_id
    left join apply_status st on a.apply_id = st.apply_id
    left join apply_feedback fb on a.apply_id = fb.apply_id
    where a.user_id = #{userId}
  </select>
  
  <select id="selectOne" resultMap="applyAllSetResultMap" parameterType="int">
  	select a.*, c.*, sc.*, st.*, fb.* from apply a
    left join cover_letter c on a.apply_id = c.apply_id
    left join apply_schedule sc on a.apply_id = sc.apply_id
    left join apply_status st on a.apply_id = st.apply_id
    left join apply_feedback fb on a.apply_id = fb.apply_id
  	where a.apply_id=#{applyId};
  </select>
  
  <insert id="insertApply" parameterType="Apply" keyProperty="applyId" useGeneratedKeys="true">
  	INSERT INTO apply (user_id, company_name, company_size,
  	job, industry)
  	VALUES (#{userId}, #{companyName}, #{companySize},
  	#{job}, #{industry});
  </insert>
  
  <delete id="deleteApply" parameterType="int">
  	DELETE FROM apply
  	WHERE apply_id = #{applyId};
  </delete>
  
  <update id="updateApply" parameterType="Apply">
  	UPDATE apply
  	SET company_name = #{companyName},
  	company_size = #{companySize}, job = #{job}, industry = #{industry}
  	WHERE apply_id = #{applyId};
  </update>
</mapper>